<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.windows.forms jitDebugging="false" />
	<appSettings>
		<add key="keyString" value=""/>
		<add key="selectedSpringScreen" value=""/>
		<add key="selectedSummerScreen" value=""/>
		<add key="selectedAutumnScreen" value=""/>
		<add key="selectedWinterScreen" value=""/>
		<add key="timerSetting" value="6"/>
	</appSettings>
</configuration>